
<table>
    <tr>
        <th>User Name</th>
        <th>Employee Name</th>
        <th>Commision</th>
        <th>Address</th>
        <th>Role</th>
    </tr>
    <tr>
        <th>sales</th>
        <th>sales</th>
        <th></th>
        <th>1234, sales st. sales, IL</th>
        <th>sales</th>
    </tr>
    <tr>
        <th><input type="text" id="uname" name="uname"></th>
        <th><input type="text" id="ename" name="ename"></th>
        <th><input type="text" id="com" name="com"></th>
        <th><input type="text" id="add" name="add"></th>
        <th><input type="text" id="role" name="role"></th>
    </tr>
    <tr>
        <th><a href="./"><button type="button">Edit</button></a></th>
        <th><a href="./"><button type="button">Edit</button></a></th>
        <th><a href="./"><button type="button">Edit</button></a></th>
        <th><a href="./"><button type="button">Edit</button></a></th>
        <th><a href="./"><button type="button">Edit</button></a></th>
    </tr>
</table>
    <br><br><th><a href="./../manage_users"><button type="button">cancel</button></a></th>