<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/styles.css">
    <title>Review Quotes</title>
    <div class="dash-header">
        <a href="/dashboard/admin">Dashboard</a>
        <a href="/login">Logout</a>
    </div>
</head>

<body>
    <h1>Welcome Administrator, .....
        <!----this is where the user name goes-->
    </h1>
    <form action="/dashboard/admin/review_quotes.ejs">
        <label>Search by date from:
            <input type="date" name="from" min="2020-11-01" max="2021-12-30">
        </label>
        <label>to
            <input type="date" name="to" min="2020-11-01" max="2021-12-30">
        </label>
        <button type="submit">Search</button>
    </form>

    <form action="/dashboard/admin/review_quotes.ejs">
        <label>Search by Quote Status
            <select name="qstatus" id="qstatus">
                <option value="all">All</option>
                <option value="finalized">Finalized</option>
                <option value="sanctioned">Sanctioned</option>
                <option value="ordered">Ordered</option>
            </select>
        </label>
        <button type="submit">Search</button>
    </form>

    <form action="/dashboard/admin/review_quotes.ejs">
        <label>Search by Associate
            <select name="associate" id="associate">
                <option value="none" aria-placeholder="Select Associate">Select Associate
                <option>
    
            </select>
        </label>
        <button type="submit">Search</button>
    </form>

    <form action="/dashboard/admin/review_quotes.ejs">
        <label>Search by Customer
            <select name="customer" id="customer">
                <option value="none">Select Customer
                <option>
            </select>
        </label>
        <button type="submit">Search</button>        
    </form>
</body>