<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/styles-accoutant.css">
    <title>Accountant Dashboard</title>

</head>

<body>


    <header>
        <div class="dash-header">
            <a href="/dashboard/accountant">Dashboard</a>
    
            <h1>Welcome Accountant, .....
                <!----this is where the user name goes-->
            </h1>
    
            <a href="/login">Logout</a>
        </div>
    
        </header>
  
        <nav class="dash-line">
        <a href="/dashboard/accountant/process_order"><i class="fas fa-print fa-6x"></i><br><p>Process Order</p></a>
    </nav>


    <footer>    	
        <small> &copy; GROUP 3B PLANT SERVICES QUOTE SYSTEM. CSCI 467 </small> 
    </footer> 
</body>

</html>