<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/styles.css">
    <title>Contact Page</title>
</head>

<body>

    <a href="/login">Login Here</a>
    <h3 class="contact-title"></h3>

    <div class="contact-box">
        <div class="contact-header">Contact Us Here</div>
        <form class="contact-form">
            <input type="text" id="name" class="input-field" placeholder="Your Name">
            <input type="email" id="email" class="input-field" placeholder="Your Email">
            <input type="text" id="subject" class="input-field" placeholder="Subject">
            <textarea type="text" id="message" class="input-field textarea-field" placeholder="Your message" maxlength="1000" required></textarea>
            <input type="submit" class="contact-submit" value="Send Message">
        </form>
    </div>
 
    <script src="/js/contact.js"></script>

</body>

</html>