<!DOCTYPE html>
<!--
  Fareed,
  Ryan,
  Beto,
  Matt 
  CSCI 467, 
  Quote System-->


<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/styles.css">
    <title>Quote System</title>

  </head>
  <body>

      <header class="over">

        <div>
    
        <h1><em>Quote System</em></h1>
        <h3>Reasons for Choosing US</h3>
    
        </div>
      </header>


      <nav class ="row">

        <a href= "index.html">Home</a> 
        <a href="sales.html">Sales Associate</a> 
        <a href="services.html">Services</a> 
        <a href="contact.html">Contact</a>
        <a href="login.html">Login/Sign up</a>
  
      </nav>

      <div class="row">

        <div class = "side-col">
        
        <section>
        <h2>PRODUCTS</h2>
        <details>
             <summary>
                
                </summary>
                <ul>
                 <li></li>
                 <li></li>
                 <li></li>
                 </ul>
        </details>	
        
        <details>
             <summary>
                
                </summary>
                <ul>
                 <li></li>
                 <li></li>
                </ul>
        </details>
        
        <details>
             <summary>
                
                </summary>
                <ul>
                 <li></li>
                 <li></li>
                 <li></li>
                </ul>
        </details>
        
        </section>
        
        
        
        
        <section>
        <h2>SERVICES</h2>
        
        <details>
             <summary>
                Repairs
                </summary>
                <ul>
                 <li></li>
                 <li></li>
                 <li></li>
                </ul>
        </details>
        
        <details>
             <summary>
                UPDATES 
                </summary>
                <ul>
                 <li></li>
                 <li></li>
                 <li></li>
                </ul>
        </details>
        
        <details>
             <summary>
                Replacment
                </summary>
                <ul>
                 <li></li>
                 <li></li>
                 <li></li>
                </ul>
        </details>
        
        </section>
        </div>
        
        
        
        
        <main class = "main-col">
        
        
        <section>
        
        </section>
        
        
        <div class= "intro">
        
        <section>
        
          
        <h3>INTRODUCTION FOR QUOTE SYSTEM</h3>
         

     
        
        <div class = "a">
          
        </div>
        
        </section>
      </div>
        
        
        <div class ="parallax_0"></div>
        
        
        <div class = "container">
        
        <section>
         <h3></h3>
           
         <p></p>
        </section> 
        
        <section>
        
          <h3></h3>
           
         <p></p>
        </section> 
        
        <section>
        
        <h3></h3>
        
         <p></p>
        </section> 
        </div>
        
        <div class ="parallax_1"></div>
        
        
        
        </main>
        </div>

      <footer>
	
        <small> &copy; 2021 - All Rights Reserved - Group 3B
          </small> 
        </footer> 
        
  </body>
</html>
