<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/styles.css">
    <title>Register</title>
</head>

<body>

    <header>
        <div class = "cont">
        <h1>PLANT SERVICES QUOTE SYSTEM REGISTER</h1>
        </div>
    </header>



    <div class="testbox-register">
    <form action="/api/employees" method="POST">
        <div>
            <label for="employee_name">Name:</label>
            <input type="text" id="employee_name" name="employee_name" required>
        </div>
        <div>
            <label for="user_name">Username:</label>
            <input type="text" id="user_name" name="user_name" required>
        </div>
        <div>
            <label for="password">Password: </label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <label for="address">Address: </label>
            <input type="text" id="address" name="address" required>
        </div>
        <label for="role">Role: </label>
        <select name="role" id="role">
            <option value="sales">Sales Associate</option>
            <option value="manager">Sales Manager</option>
            <option value="accountant">Accountant</option>
            <option value="admin">Administrator</option>
        </select>
        <br></br>
        <button type="submit">Register</button> 

        

    </form> 
    <div class = "login">
    <a href="/login">Login Here</a>
    </div>
</div>


<footer>    	
    <small> &copy; GROUP 3B PLANT SERVICES QUOTE SYSTEM. CSCI 467 </small> 
</footer> 


</body>


</html>