/* Fareed,Ryan,Beto,Matt CSCI 467, Quote System  */
*{

	box-sizing: border-box;
}

html {

	height: 100%;
}

body{
	max-width: 2600px;
	font-family: arial, helvetica, sans-serif;
    background-image: url("../images/1.jpg");
	background-repeat: no-repeat;
	margin: 0;
	font-size: cal(16px+(10%100)*(100vw-400px)/(400%1600));
	padding: 0;
	flex-basis: auto;
}


	/* header decoration */
	header {
		display: flex;
		min-height: 20px;
		background-color: orange;
		width: 100%;
		padding: 30px;
		flex-basis: auto;
	}

	.cont
	{
		display: flex;
		flex-wrap: wrap;
		flex-basis: auto;
		background-color: orange;
		justify-content: space-around;
		margin: auto;
		position: relative;
		
	}

	

	h1 {
		color: blue;
		text-align: center;
		font-family: 'Dancing Script', 'Times New Roman', Times, serif;
		font-size: 20px;
		margin-left: 20px;
		margin-top: 30px;
	}

	

	/* Login form decoration starts  */
	form {
		margin: 0 30px;
	}

	.testbox-register {
		margin: 20px auto;
		top: 20px;
		width: 443px; 
		height: 604px; 
		-webkit-border-radius: 8px/7px; 
		-moz-border-radius: 8px/7px; 
		border-radius: 8px/7px; 
		background-color: orange; 
		-webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
		-moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
		box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
		border: solid 1px #cbc9c9;
	}
    
	


	input[type=text], input[type=password] {
		width: 300px; 
		height: 35px; 
		-webkit-border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
		-moz-border-radius: 0px 4px 4px 0px/0px 0px 4px 4px; 
		border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
		background-color: #fff; 
		-webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
		-moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
		box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
		border: solid 1px #cbc9c9;
		margin-left: -5px;
		margin-top: 35px; 
		padding-left: 10px;
	}


	#icon {
		display: inline-block;
		width: 40px;
		background-color: #3a57af;
		padding: 8px 0px 8px 15px;
		margin-left: 15px;
		-webkit-border-radius: 4px 0px 0px 4px; 
		-moz-border-radius: 4px 0px 0px 4px; 
		border-radius: 4px 0px 0px 4px;
		color: white;
		-webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
		-moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
		box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
		border: solid 0px #cbc9c9;
	  }


      .login a, .register a, .button-fix
	{
		display: flex;
        
	}


	button[type="submit"] ,.login a, .register a, .cancel button
	{
		font-size: 14px;
		font-weight: 600;
		color: white;
		padding: 6px 65px 10px 20px;
		margin: 40px 8px 50px 85px;
		display: inline-block;
		text-decoration: none;
		width: 80px; 
		height: 50px; 
		-webkit-border-radius: 10px; 
		-moz-border-radius: 10px; 
		border-radius: 10px; 
		background-color: #3a57af; 
		-webkit-box-shadow: 0 3px rgba(58,87,175,.75); 
		-moz-box-shadow: 0 3px rgba(58,87,175,.75); 
		box-shadow: 7px 3px rgba(58,87,175,.75);
		transition: all 0.1s linear 0s; 
		top: 50px;
		right: 50px;
		position: relative;
	}

	button[type="submit"]:hover, .register a:hover, .login a:hover, .cancel button:hover 
	{
		top: 58px;
		background-color:#2e458b;
		-webkit-box-shadow: none; 
		-moz-box-shadow: none; 
		box-shadow: none;
	}

	.button-fix
	{
		display: flex;
		flex-wrap: wrap;
		margin-left: 80px;
	}

	.button-edit
	{
		display: inline-flex;
		margin-left: 10px;
	}

	h3 {
		font-size: 32px;
		font-weight: 300;
		color: #4c4c4c;
		text-align: center;
		padding-top: 10px;
		margin-bottom: 10px;
	}

	.accounttype {
		margin-left: 8px;
		margin-top: 20px;
	}


	hr {
		color: #a9a9a9;
		opacity: 0.3;
	}


    select {
        left: 60%;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        outline: 0;
        box-shadow: none;
        border: 0 !important;
        background: #2c3e50;
        background-image: none;
    }

    /* Remove IE arrow */
    select::-ms-expand {
        display: none;
    }

    /* Custom Select */
    .select {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        flex-basis: auto;
        width: 21em;
        height: 2.5em;
        left: 17px;
        top: 30px;
        line-height: 3;
        background: #2c3e50;
        overflow: hidden;
        border-radius: .12em;
    }

    select {
        flex: 1;
        padding: 0 .5em;
        color: #fff;
        cursor: pointer;
    }

    /* Arrow */
    .select::after {
        content: '\25BC';
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 1em;
        background: #34495e;
        cursor: pointer;
        pointer-events: none;
        -webkit-transition: .25s all ease;
        -o-transition: .25s all ease;
        transition: .25s all ease;
    }

    /* Transition */
    .select:hover::after {
        color: #f39c12;
    }

	/* Login & register form decoration END here */

/*footer*/
footer {

	background-color: orange;
	position: fixed;
	left: 0;
     bottom: 0;
     width: 100%;
	text-align: center;
	padding: 10px;
	color: blue;
	font-family: 'Dancing Script', 'Times New Roman', Times, serif;
}







