/* Fareed,Ryan,Beto,Matt CSCI 467, Quote System  */


*{

	box-sizing: border-box;
}

html {

	height: 100%;
}


body{
	max-width: 2600px;
	font-family: arial, helvetica, sans-serif;
    background-image: url("../images/5.jpg");
	background-repeat: no-repeat;
    background-size: cover;
	margin: 0;
	font-size: cal(16px+(10%100)*(100vw-400px)/(400%1600));
	padding: 0;
	flex-basis: auto;
}


	/* header decoration */
	header {
        
		min-height: 15px;
		background-color:orange;
		padding: 5px;
	
	}

    .dash-header
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
 
    .dash-line
    {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 10%;
        margin-left: 30%;
        flex-basis: 100%;
        left: 50px;
        object-fit: cover;
        
    }
    
    .dash-header a:hover
	{	
		max-width: 100%;
		padding: 35px;
		background-color: rgba(0, 136, 169, 0.8);
	}

	.dash-header a
	{
		margin-right: 100px;
		margin-top: 10px;
		padding: 30px;
		color: #edf0f1;
		background-color: rgb(173, 36, 65);
		border-radius: 5px;
		cursor: pointer;
		text-decoration: none;
		transition: all 0.3s ease 0s;
	}



    .dash-line a
	{
		margin-left: 200px;
		margin-top: 10px;
		padding: 80px 90px ;
		color: brown;
		background-color: rgb(248, 163, 4);
		border-radius: 35px 5px 35px 5px;
		cursor: pointer;
		text-decoration: none;
		transition: all 0.3s ease 0s;
	}

     .dash-line a:hover
	{	
		max-width: 100%;
		padding: 70px;
		background-color: rgba(0, 136, 169, 0.8);
	}

    h1 {
        text-align: center;
		font-size: 32px;
		font-weight: 300;
		color: blue;
		padding-top: 10px;
		margin-bottom: 15px;
	}

   
    .dash-line p
    {
        text-align: center;
    }


    /*footer*/
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
	position: absolute;
	min-height: 20px;
	background-color: orange;
	bottom: 0px;
	width: 100%;
	height: 2.5rem;
	padding: 10px;
}

small 
{
	color: blue;
	font-family: 'Dancing Script', 'Times New Roman', Times, serif;
}