<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles-manager.css">

    <title>Sales Manager Dashboard</title>

</head>

<body>

    <header>
        <div class="dash-header">
            <a href="/dashboard/manager">Dashboard</a>
    
            <h1>Welcome Sales Manager, .....
                <!----this is where the user name goes-->
            </h1>
    
            <a href="/login">Logout</a>
        </div>
    
        </header>
 
     <nav class="dash-line">
        <a href="/dashboard/manager/sanction_quote"><i class="fas fa-thumbs-up fa-6x"></i><br><p>Sanction Quote</p></a>
    </nav>

    <footer>    	
        <small> &copy; GROUP 3B PLANT SERVICES QUOTE SYSTEM. CSCI 467 </small> 
    </footer> 
</body>

</html>