<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/styles.css">
    <title>Sales Manager Dashboard</title>
    <div class="dash-header">
        <a href="/dashboard/manager">Dashboard</a>
        <a href="/login">Logout</a>
    </div>
</head>

<body>
    <h1>Welcome Sales Manager, .....
        <!----this is where the user name goes-->
    </h1>
    <nav>
        <a href="/dashboard/manager/sanction_quote">Sanction Quote</a>
    </nav>
</body>