<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles-manager.css">
    <title>Update Quotes</title>
    <div class="dash-header">
        <a href="/dashboard/manager">Dashboard</a>
        <a href="/login">Logout</a>
    </div>
</head>

<body>
    <h1>Welcome Sales Manager, .....
        <!----this is where the user name goes-->
    </h1>

</body>