<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/styles-sales.css">
    <title>Create Quote</title>

</head>

<body>
    <header>
        <div class="dash-header">
            <a href="/dashboard/sales">Dashboard</a>
            <h1>Welcome Sales Associate, .....
                <!----this is where the user name goes-->
                Your Commission: $
            </h1>
            <a href="/login">Logout</a>
        </div>
        </header>

 <div class="testbox-sales">
   
    <form action="/api/quotes" method="POST">
        <div class="accounttype">
            <h3>Create A New Quote</h3>
            <hr>
        </div>


        <div class="select">
            <label id="icon" for="customer"><i class="fas fa-user-tie"></i></label>
            <select name="customer" id="customer">
                <option value="customer">Customer is Required</option>
                <% cust.forEach(function(field){ %>
                    <option value=customer><%= field.name %></option>
                <% }) %>
            </select>
        </div>
  
        <div>
            <label id ="icon" for="cust_email"><i class="fas fa-envelope"></i></label>
            <input type="email" 
                   id="cust_email" 
                   name="cust_email" 
                   placeholder="Enter e-mail Address" 
                   size="20" maxlength="20" required>
        </div>





        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

        <!-- add new line items -->
        <h4>Line Items <button class="add_field_button_line">Add Line Items</button></h4>

        <div class="input_fields_wrap_line"></div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


        <!-- add secret notes -->
        <h4>Secret Notes</h4>

        <div id="inputFormRow">
        
            <div class="input-group mb-3">
                <input type="text" name="secret" class="form-control m-input">
        
                <div class="input-group-append">
                    <button id="removeRow" type="button" class="btn">Remove Note</button>
                </div>
            </div>
        
            <div id="newRow"></div>
            <button id="addRow" type="button" class="btn btn-info">Add Row</button>
        
        
        </div>


        <!-- <h4>Secret Notes</h4>
        <div class="input-items">
            <input type="text" class="form-control" id="secret">
        
            <div class="input-items-append">
                <button onclick="addNote()" class="btn btn-add">Add Note</button>
                <button onclick="removeNote()" class="btn btn-remove">Remove Note</button>
            </div>
        
        </div>        
        <ul id="secret-note-list">
        </ul> -->


        <h4>Discount</h4>
        <div class="quote-price">
            <!-- <label for="price">Price: </label>
            <input type="number" class="form-control" name="price" min="0" step="0.01" id="price"> -->

            <label for="discount">Discount: </label>
            <input type="number" class="form-control" name="discount" min="0" step="0.01" id="discount">

            <button onclick="getPercentage()">Percentage</button>
            <button onclick="getAmount()">Amount</button>


            <input readonly id="total" min="0">

        </div>

        <div>
            <label for="username">Sign your quote:</label>
            <input type="text" placeholder="Enter username" required>
        </div>


        <button type="submit">Create Quote</button>
    </form>
</body>

</html>


<script>

    $(document).ready(function () {
        var max_fields = 5; //maximum input boxes allowed

        var wrapper1 = $(".input_fields_wrap_line"); //Fields wrapper
        var wrapper2 = $(".input_fields_wrap_note"); //Fields wrapper

        var add_button_line = $(".add_field_button_line"); //Add button ID
        var add_button_note = $(".add_field_button_note"); //Add button ID


        var x = 1; //initlal text box count
        $(add_button_line).click(function (e) { //on add input button click
            e.preventDefault();
            if (x < max_fields) { //max input box allowed
                x++; //text box increment

                $(wrapper1).append('<div class="line_items_list">' +

                    '<div>' +
                    '<label>Label: </label>' +
                    '<input type="text" class="line_items" name="line_items">' +
                    '<label>Price: </label>' +
                    '<input type="text" class="price" name="price">' +
                    '</div>' +

                    '<a href="#" class="remove_field_line"> Remove Line Item</a>' +


                    '</div>');
            }
        });

        $(wrapper1).on("click", ".remove_field_line", function (e) { //user click on remove text
            e.preventDefault();
            $(this).parent('.line_items_list').remove();
            calculateTotal();
            x--;
        })
     

        function calculateTotal() {
            //Initialize total to 0
            var total = 0;
            $(".price").each(function () {
                // Sum only if the text entered is number and greater than 0
                if (!isNaN(this.value) && this.value.length != 0) {
                    total += parseFloat(this.value);
                }
            });
            //Assign the total to label
            //.toFixed() method will roundoff the final sum to 2 decimal places
            $('#total').val(total.toFixed(2));
        }

        //Iterate through each Textbox and add keyup event handler
        $("body").on('keyup', '.price', function (e) {

            e.preventDefault();
            calculateTotal();

        });

    });
    
    
    var noteCount = 1;
    // add row
    $("#addRow").click(function () {
        var html = '';
        html += '<div id="inputFormRow">';
        html += '<div class="input-group mb-3">';
        html += '<input type="text" name="secret" class="form-control m-input">';
        html += '<div class="input-group-append">';
        html += '<button id="removeRow" type="button" class="btn">Remove Note</button>';
        html += '</div>';
        html += '</div>';
        $('#newRow').append(html);
        noteCount++;

    });

    if(noteCount == 1) {
        // remove row
        $(document).on('click', '#removeRow', function () {
            $(this).closest('#inputFormRow').remove();
        });
    }
    else {
        // remove row
        $(document).on('click', '#removeRow', function () {
            $(this).closest('#inputFormRow').remove();
        });
    }




    // function addNote(){
    //     var ul = document.getElementById("secret-note-list");
    //     var candidate = document.getElementById("secret");
    //     var li = document.createElement("li");
    //     li.setAttribute('id', candidate.value);
    //     li.appendChild(document.createTextNode(candidate.value));
    //     ul.appendChild(li);
    // }

    // function removeNote(){
    //     var ul = document.getElementById("secret-note-list");
    //     var candidate = document.getElementById("secret");
    //     var item = document.getElementById(candidate.value);
    //     ul.removeChild(item);

    // }

/*
    function getPrice(){
        var numVal1 = Number(document.getElementById("price").value);
        var numVal2 = Number(document.getElementById("discount").value) / 100;
        var totalValue = numVal1 - (numVal1 * numVal2)
        document.getElementById("total").value = totalValue.toFixed(2);
    }
*/

    function getPercentage() {
        var price = Number(document.getElementById("total").value);
        var percent = Number(document.getElementById("discount").value) / 100;
        var totalValue = price - (price * percent);
        document.getElementById("total").value = totalValue.toFixed(2);
    }

    function getAmount() {
        var price = Number(document.getElementById("total").value);
        var amount = Number(document.getElementById("discount").value);
        var totalValue = price - amount;

        if (totalValue <= 0.00) {
            totalValue = 0.00;
            document.getElementById("total").value = totalValue.toFixed(2);
        }
        else {
            document.getElementById("total").value = totalValue.toFixed(2);
        }
    }

        

</script>
</div>
<footer>    	
    <small> &copy; GROUP 3B PLANT SERVICES QUOTE SYSTEM. CSCI 467 </small> 
</footer> 
</body>


</html>