<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/styles-sales.css">
    <title>Create Quote</title>

</head>

<body>
    <header>
        <div class="dash-header">
            <a href="/dashboard/sales">Dashboard</a>
            <h1>Welcome Sales Associate, .....
                <!----this is where the user name goes-->
                Your Commission: $
            </h1>
            <a href="/login">Logout</a>
        </div>
        </header>

 <div class="testbox-sales">
   
    <form action="/api/quotes" method="POST">
        <div class="accounttype">
            <h3>Create A New Quote</h3>
            <hr>
        </div>


        <div class="select">
            <label id="icon" for="customer"><i class="fas fa-user-tie"></i></label>
            <select name="customer" id="customer">
                <option value="customer">Customer is Required</option>
                <% cust.forEach(function(field){ %>
                    <option value=customer><%= field.name %></option>
                <% }) %>
            </select>
        </div>
  
        <div>
            <label id ="icon" for="cust_email"><i class="fas fa-envelope"></i></label>
            <input type="email" 
                   id="cust_email" 
                   name="cust_email" 
                   placeholder="Enter e-mail Address" 
                   size="20" maxlength="20" required>
        </div>





        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

        <h4>Line Items <button class="add_field_button btn btn-primary pull-right">Add Line Items</button></h4>

        <div class="input_fields_wrap"></div>


        

        <h4>Secret Notes</h4>
        <div class="input-items">
            <input type="text" class="form-control" id="secret">
        
            <div class="input-items-append">
                <button onclick="addNote()" class="btn btn-add">Add Note</button>
                <button onclick="removeNote()" class="btn btn-remove">Remove Note</button>
            </div>
        
        </div>        
        <ul id="secret-note-list">
        </ul>


        <h4>Discount</h4>
        <div class="quote-price">
            <!-- <label for="price">Price: </label>
            <input type="number" class="form-control" name="price" min="0" step="0.01" id="price"> -->

            <label for="discount">Discount: </label>
            <input type="number" class="form-control" name="discount" min="0" step="0.01" id="discount">

            <button onclick="getPercentage()">Percentage</button>
            <button onclick="getAmount()">Amount</button>


            <input readonly id="total" min="0">

        </div>

        <div>
            <label for="username">Sign your quote:</label>
            <input type="text" placeholder="Enter username" required>
        </div>


        <button type="submit">Create Quote</button>
    </form>
</body>

</html>


<script>

    $(document).ready(function () {
        var max_fields = 5; //maximum input boxes allowed
        var wrapper = $(".input_fields_wrap"); //Fields wrapper
        var add_button = $(".add_field_button"); //Add button ID

        var x = 1; //initlal text box count
        $(add_button).click(function (e) { //on add input button click
            e.preventDefault();
            if (x < max_fields) { //max input box allowed
                x++; //text box increment

                $(wrapper).append('<div class="col-lg-12 product_wrapper">' +

                    '<div class="col-lg-3" >' +
                    '<label>Label: </label>' +
                    '<input type="text" class="product_textarea" name="Product[]">' +
                    '<label>Price Tag: </label>' +
                    '<input type="text" class="price_tag form-control" name="Price[]"/>' +
                    '</div>' +

                    '<a href="#" class="remove_field btn btn-danger pull-right"> Remove Line Item</a>' +


                    '</div>');
            }
        });

        $(wrapper).on("click", ".remove_field", function (e) { //user click on remove text
            e.preventDefault();
            $(this).parent('.product_wrapper').remove();
            calculateTotal();
            x--;
        })

        function calculateTotal() {
            //Initialize total to 0
            var total = 0;
            $(".price_tag").each(function () {
                // Sum only if the text entered is number and greater than 0
                if (!isNaN(this.value) && this.value.length != 0) {
                    total += parseFloat(this.value);
                }
            });
            //Assign the total to label
            //.toFixed() method will roundoff the final sum to 2 decimal places
            $('#total').val(total.toFixed(2));
        }

        //Iterate through each Textbox and add keyup event handler
        $("body").on('keyup', '.price_tag', function (e) {

            e.preventDefault();
            calculateTotal();

        });

    });  


    function addNote(){
        var ul = document.getElementById("secret-note-list");
        var candidate = document.getElementById("secret");
        var li = document.createElement("li");
        li.setAttribute('id', candidate.value);
        li.appendChild(document.createTextNode(candidate.value));
        ul.appendChild(li);
    }

    function removeNote(){
        var ul = document.getElementById("secret-note-list");
        var candidate = document.getElementById("secret");
        var item = document.getElementById(candidate.value);
        ul.removeChild(item);

    }

/*
    function getPrice(){
        var numVal1 = Number(document.getElementById("price").value);
        var numVal2 = Number(document.getElementById("discount").value) / 100;
        var totalValue = numVal1 - (numVal1 * numVal2)
        document.getElementById("total").value = totalValue.toFixed(2);
    }
*/

    function getPercentage() {
        var price = Number(document.getElementById("total").value);
        var percent = Number(document.getElementById("discount").value) / 100;
        var totalValue = price - (price * percent);
        document.getElementById("total").value = totalValue.toFixed(2);
    }

    function getAmount() {
        var price = Number(document.getElementById("total").value);
        var amount = Number(document.getElementById("discount").value);
        var totalValue = price - amount;
        document.getElementById("total").value = totalValue.toFixed(2);
    }

        

</script>
</div>
<footer>    	
    <small> &copy; GROUP 3B PLANT SERVICES QUOTE SYSTEM. CSCI 467 </small> 
</footer> 
</body>


</html>