<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/styles.css">

    
    <title>Create Quote</title>
    <div class="dash-header">
        <a href="/dashboard/sales">Dashboard</a>
        <a href="/login">Logout</a>
    </div>
</head>

<body>
    <h1>Welcome Sales Associate, .....
        <!----this is where the user name goes-->
        Your Commission: $
    </h1>
    <h2>Create A New Quote</h2>
    <form action="/api/quotes" method="POST">
        <div>
            <label for="customers">Select a Customer: </label>
            <select name="customers" id="customers">
                <option value="sales">Customer is Required</option>
            </select>
        </div>
        <div>
            <label for="cemail">Customer Email: </label>
            <input type="text" id="cemail" name="cemail" required>
        </div>

        <h4>Line Items</h4>
        <div class="input-items">
            <input type="text" class="form-control" id="litem">

            <div class="input-items-append">
                <button onclick="addItem()" class="btn btn-add">Add Item</button>
                <button onclick="removeItem()" class="btn btn-remove">Remove Item</button>                
            </div>

        </div>

        <ul id="line-item-list">
        </ul>

        <h4>Secret Notes</h4>
        <div class="input-items">
            <input type="text" class="form-control" id="secret">
        
            <div class="input-items-append">
                <button onclick="addNote()" class="btn btn-add">Add Note</button>
                <button onclick="removeNote()" class="btn btn-remove">Remove Note</button>
            </div>
        
        </div>        
        <ul id="secret-note-list">
        </ul>

        <h4>Discount</h4>




        <button class="btns" type="submit">Create Quote</button>
    </form>
</body>


<script>
    function addItem(){
        var ul = document.getElementById("line-item-list");
        var candidate = document.getElementById("litem");
        var li = document.createElement("li");
        li.setAttribute('id', candidate.value);
        li.appendChild(document.createTextNode(candidate.value));
        ul.appendChild(li);
    }

    function removeItem(){
        var ul = document.getElementById("line-item-list");
        var candidate = document.getElementById("litem");
        var item = document.getElementById(candidate.value);
        ul.removeChild(item);

    }

    function addNote(){
        var ul = document.getElementById("secret-note-list");
        var candidate = document.getElementById("secret");
        var li = document.createElement("li");
        li.setAttribute('id', candidate.value);
        li.appendChild(document.createTextNode(candidate.value));
        ul.appendChild(li);
    }

    function removeNote(){
        var ul = document.getElementById("secret-note-list");
        var candidate = document.getElementById("secret");
        var item = document.getElementById(candidate.value);
        ul.removeChild(item);

    }

</script>