<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/styles.css">

    
    <title>Create Quote</title>
    <div class="dash-header">
        <a href="/dashboard/sales">Dashboard</a>
        <a href="/login">Logout</a>
    </div>
</head>

<body>
    <h1>Welcome Sales Associate, .....
        <!----this is where the user name goes-->
        Your Commission: $
    </h1>
    <h2>Create A New Quote</h2>
    <form action="/api/quotes" method="POST">
        <div>
            <label for="customer">Select a Customer: </label>
            <select name="customer" id="customer">
                <option value="customer">Customer is Required</option>
                <% cust.forEach(function(field){ %>
                    <option value=customer><%= field.name %></option>
                <% }) %>
            </select>
        </div>
        <div>
            <label for="cust_email">Customer Email: </label>
            <input type="email" id="cust_email" name="cust_email" required>
        </div>

        <h4>Line Items</h4>
        <div class="input-items">
            <input type="text" class="form-control" id="line_item">

            <div class="input-items-append">
                <button onclick="addItem()" class="btn btn-add">Add Item</button>
                <button onclick="removeItem()" class="btn btn-remove">Remove Item</button>                
            </div>

        </div>

        <ul id="line-item-list">
        </ul>

        <h4>Secret Notes</h4>
        <div class="input-items">
            <input type="text" class="form-control" id="secret">
        
            <div class="input-items-append">
                <button onclick="addNote()" class="btn btn-add">Add Note</button>
                <button onclick="removeNote()" class="btn btn-remove">Remove Note</button>
            </div>
        
        </div>        
        <ul id="secret-note-list">
        </ul>

        <h4>Price</h4>
        <div>
            <label for="price">price:</label>
            <input type="text" id="price" name="price" required>
        </div>

        <h4>Line item test purposes only remove later</h4>
        <div>
            <label for="line_items">price:</label>
            <input type="text" id="line_items" name="line_items" required>
        </div>

        <h4>Discount</h4>
        <div class="quote-price">
            <label for="price">Price: </label>
            <input type="number" class="form-control" min="0" step="0.01" id="price">

            <label for="discount">Discount: </label>
            <input type="number" class="form-control" min="0" step="0.01" id="discount">

            <button onclick="getPrice()">Calculate New Price</button>
            
            <input readonly id="total">
        </div>

        <h4>User Name this field is temporary!!!!!</h4>
        <div>
            <label for="user_name">user name:</label>
            <input type="text" id="user_name" name="user_name" required>
        </div>




        <button class="btns" type="submit">Create Quote</button>
    </form>
</body>


<script>
    function addItem(){
        var ul = document.getElementById("line-item-list");
        var candidate = document.getElementById("line_item");
        var li = document.createElement("li");
        li.setAttribute('id', candidate.value);
        li.appendChild(document.createTextNode(candidate.value));
        ul.appendChild(li);
    }

    function removeItem(){
        var ul = document.getElementById("line-item-list");
        var candidate = document.getElementById("line_item");
        var item = document.getElementById(candidate.value);
        ul.removeChild(item);

    }

    function addNote(){
        var ul = document.getElementById("secret-note-list");
        var candidate = document.getElementById("secret");
        var li = document.createElement("li");
        li.setAttribute('id', candidate.value);
        li.appendChild(document.createTextNode(candidate.value));
        ul.appendChild(li);
    }

    function removeNote(){
        var ul = document.getElementById("secret-note-list");
        var candidate = document.getElementById("secret");
        var item = document.getElementById(candidate.value);
        ul.removeChild(item);

    }


    getPrice = function () {
        var numVal1 = Number(document.getElementById("price").value);
        var numVal2 = Number(document.getElementById("discount").value) / 100;
        var totalValue = numVal1 - (numVal1 * numVal2)
        document.getElementById("total").value = totalValue.toFixed(2);
    }


        

</script>