<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/styles.css">

    
    <title>Create Quote</title>
    <div class="dash-header">
        <a href="/dashboard/sales">Dashboard</a>
        <a href="/login">Logout</a>
    </div>
</head>

<body>
    <h1>Welcome Sales Associate, .....
        <!----this is where the user name goes-->
        Your Commission: $
    </h1>
    <h2>Create A New Quote</h2>
    <form action="/api/quotes" method="POST">
        <div>
            <label for="customers">Select a Customer: </label>
            <select name="customers" id="customers">
                <option value="sales">Customer is Required</option>
            </select>
        </div>
        <div>
            <label for="cemail">Customer Email: </label>
            <input type="text" id="cemail" name="cemail" required>
        </div>
        <h4>Line Items <button class="btn-add">New line item</button></h4>
        <div id="line-item">
            <button class="btn-delete">Delete</button>
        </div>



        <button class="btns" type="submit">Create Quote</button>
    </form>
</body>



<script>
    const add_btn = document.querySelector(".btn-add");
    const delete_btn = document.querySelector(".btn-delete");

    const line_item = document.getElementById("line-item");
    add_btn.addEventListener("click", add_new);
    delete_btn.addEventListener("click", remove);

    function add_new(){
        const new_item = document.createElement("input");
        new_item.classList.add('line-item');
        line_item.appendChild(new_item);

    }

    function remove(){
        new_item.classList.remove('line-item');
        line_item.removeChild(new_item);
    }
</script>