<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles-sales.css">
    <title>Finalize Quote</title>
</head>

<body>
    <header>
        <div class="dash-header">
            <a href="/dashboard/sales">Dashboard</a>
            <h1>Welcome Sales Associate, .....
                <!----this is where the user name goes-->
                Your Commission: $
            </h1>
            <a href="/login">Logout</a>
        </div>
        </header>



        
        <footer>    	
            <small> &copy; GROUP 3B PLANT SERVICES QUOTE SYSTEM. CSCI 467 </small> 
        </footer> 
</body>


</html>